@import "bootstrap";

.paging-button {
  visibility: hidden;
}

.button-container {
  clear: both;
}

.main-container {
    padding-top: 70px;
}

.images-responsive {
    max-width: 100%;
    height: auto;
}

.glitchy-logo {
    max-width: 100%;
    height: 4rem;
    margin: 1rem;
    
}

.tile-spacing {
    padding: 1rem;
}

.player-height {
    height: 480px;
    @media screen and (max-width: 656px){
        height: 240px;
    }
    @media screen and (min-height: 870px) and (min-width: 1320px){
        height: 720px;
    }
}

#myModal4 .modal-dialog  {width:75%;}

@media screen and (min-width: 768px) {
	
	#myModal .modal-dialog  {width:900px;}

}